#imagen{
    height: 300px;
    width: 500px;
}
#v{
    display: none;
}

.bu{
    text-decoration: aliceblue;
    padding: 10px;
    font-size: 20px;
    color: black;
    background-color: aqua;
    border-radius: 6px;
    border: 2px solid purple;
}
#table{
    border: 1px black solid;
}
table{
    table-layout: fixed;
    text-align: center;
    border: 1px black solid;
    background: aqua ;
    width: 100%

}
*{
    
    margin: 0;
    padding: 0%;
}


.container{
text-align: center;   
padding: inherit; 
flex: content;


}
input[type= button]{
    color: white;
    font-size: medium;
    padding: 10px;
    background-color:#1BADCF;
    
}
input[type= button]:hover{
    width: 100px;
    transition: 2000ms;
    color: white;
    font-size: medium;
    padding: 10px;
    background-color:#1BADCF;
    
}
